#--- tweet-by-wiki settings ---
#Tue Dec 19 18:05:52 JST 2017
basicAuthList-2-=\:
sendInterval=0
basicAuthList-5-=\:
basicAuthList-12-=\:
basicAuthList-8-=\:
secondaryUrl=http\://www.aaaaa-bbbbb.org/ccccc/index.php?Basic-ex3
basicAuthList-15-=\:
basicAuthList-18-=\:
oauth.accessTokenSecret=12345678uvufasdf
basicAuth-http\://www.aaaa.org/abababab/index.php=\:
basicAuth-http\://www.aaaa.org/bbbb-bbb/index.php=\:
basicAuth-http\://www.aaaa.ac.jp/bbb/index.php=ccc\:ddd
basicAuth-http\://192.168.22.250/xxxx-local/index.php=yyy\:xxxx
basicAuth-http\://aaa.bbb.ccc.ddd.jp/security-bot-manager/index.php=security-bot-manager\:xxxxx
oauth.consumerSecret=12345678abcdef
oauth.accessToken=12345678abc
basicAuth-http\://www.aaaa.org/abababab/index.php=cccc\:xyzxyz
basicAuth-http\://www.xxxx.org/auto-twitter-1/index.php=\:
oauth.callbackUrl=http\://www.yama-lab.org/
onlineCommandRefresh=false
basicAuthList-1-=\:
basicAuthList-4-=\:
basicAuth-=\:
secondaryURLList=http\://www.xxxx.org/auto-twitter-1/index.php?test-2
basicAuthList-11-=\:
basicAuthList-7-=\:
basicAuthList-14-=\:
basicAuthList-17-=\:
oauth.consumerKey=12345678abcdef
execInterval=0
basicAuth-http\://www.xxxx.org/fwb4pi/index.php=\:
status=available
maxCommandsStr=2000
returnInterval=10-sec
basicAuth-http\://www.xxxx.ac.jp/fueng-04303/index.php=yyyy\:xxxx
deviceID=yamaRasPiDp1_1
basicAuthList-0-=\:
basicAuthList-3-=\:
basicAuthList-10-=\:
basicAuthList-6-=\:
basicAuth-http\://www.xxxx.org/dp-1/index.php=\:
basicAuthList-13-=\:
basicAuthList-9-=\:
basicAuthList-16-=\:
basicAuth-http\://www.aaaa.org/abababab/index.php=abababab\:xyzxyzxyz
basicAuthList-19-=\:
readInterval=300000
basicAuthList-0-http\://aaa.bbb.ccc.ddd.eee.jp/security-bot-manager/index.php=aaabbbccc\:xxxxxx
basicAuth-http\://www.aaaaa.org/bbbbb/index.php=\:
basicAuth-http\://192.168.1.2/cdcdcd/index.php=efefefef\:ghghghgh
managerUrl=http\://www.aaaa.org/abababab/index.php?xxxxx
basicAuth-http\://www.xxxx.org/yy-7/index.php=zzzz\:ssss
